# Login to 'https://dashboard.clerk.com/' to get Clerk API Key
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Clerk Custom auth
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF0dHR2ZHpwZ2hvem9ueHVsbndnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDgxNjY4NTgsImV4cCI6MjA2Mzc0Mjg1OH0.PtNrkjZ3HP2qlKNphRwH_1dsDwEu3QJG1yncipFef0E
            